/* Color Theme Swatches in Hex
.KAPUZE---plant-pot-1-hex { color: #387268; }
.KAPUZE---plant-pot-2-hex { color: #03A577; }
.KAPUZE---plant-pot-3-hex { color: #65A587; }
.KAPUZE---plant-pot-4-hex { color: #D89788; }
.KAPUZE---plant-pot-5-hex { color: #D88982; }
  */
html, body {
    align-items: center;
    text-align: center;
  background-color: #387268;
  font-family: Impact, Charcoal, sans-serif;
  color: black;
  min-width: 300px;
  letter-spacing: 1px;
}
#main {
  
  background-color: #D88982;
  font-size: 25px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
  width: 75%;
  max-width: 1000px;
}
#description {

}
#name {
  
}
#title {
  margin-top: 30px;
 
}
#formDivider {
  display: inline-block;
}
.labels {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 40%;
  padding: 5px;
}
.inputs {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding: 5px;
  width: 50%;
  margin-top: 5px
}
.radio, .checkbox {
position: relative;
left: -50px;
margin-top: 5px;
margin-left: 10px;
padding-bottom: 5px;
}
input[type=radio], input[type=checkbox] {
  width: 1.5em;
  height: 2em;
}
.feedback {
float: left;
margin-right: 8px;
}
textarea {
  width: 260px;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#sub-button {
  background-color: #65A587;
  height: 35px;
  border: 3px solid;
  border-radius: 3px;
  margin: 10px;
  color: #0a3a0a;
  border-color: #387268;
  font-size: 15px;
}
#hoverDropdown {
  padding-top: 15px;
  padding-bottom: 50px;
  text-align: center;
}
#dropAnchor {
  text-decoration: underline;
  vertical-align: top;
}

#dropdownContent {
  display: none;
  position: relative;
  text-align: center;
  word-spacing: 20px;
  border-color: black;
  border-radius: 4px;
  width: 70%;
  height: 35px;
}
#dropdownContent a:hover {color: #ddd;}
#hoverDropdown:hover #dropdownContent{
display: inline-block;
background-color: #98919B;

}
#hoverDropdown:hover #dropAnchor {
  color: gray;
  
}

#dropdown {
border: 1px solid #c0c0c0;
border-radius: 2px;
}
.row {
margin-top: 5px;
margin-bottom: 5px;
}