/* Color Theme Swatches in Hex
.KAPUZE---plant-pot-1-hex { color: #387268; }
.KAPUZE---plant-pot-2-hex { color: #03A577; }
.KAPUZE---plant-pot-3-hex { color: #65A587; }
.KAPUZE---plant-pot-4-hex { color: #D89788; }
.KAPUZE---plant-pot-5-hex { color: #D88982; }
  */
/* Color Theme Swatches in Hex 
.Grey-Lt-Navy-Coral-1-hex { color: #EFE6CC; }
.Grey-Lt-Navy-Coral-2-hex { color: #635E59; }
.Grey-Lt-Navy-Coral-3-hex { color: #FF7573; }
.Grey-Lt-Navy-Coral-4-hex { color: #98919B; }
.Grey-Lt-Navy-Coral-5-hex { color: #303249; }
*/
html, body {
    align-items: center;
    text-align: center;
  background-color: rgb(17, 184, 226);
  font-family: Impact, Charcoal, sans-serif;
  color: #222222;
  min-width: 300px;
  letter-spacing: 1px;
}
#main {
  
  background-color: rgb(185, 197, 224);
  font-size: 25px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
  width: 75%;
  max-width: 1000px;
}
#description {

}
#name {
  
}
#title {
  margin-top: 30px;
}

#formDivider {
  display: inline-block;
}
.labels {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 40%;
  padding: 5px;
}
.inputs {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding: 5px;
  width: 50%;
  margin-top: 5px
}
.radio, .checkbox {
position: relative;
left: -50px;
margin-top: 5px;
margin-left: 10px;
padding-bottom: 5px;
}
input[type=radio], input[type=checkbox] {
  width: 1.5em;
  height: 2em;
}
.feedback {
float: left;
margin-right: 8px;
}
textarea {
  width: 260px;
  height: 80px;
  margin-top: 2px;
  margin-bottom: 5px;
}
#submit {
  background-color: rgb(246, 229, 225);
  height: 35px;
  border: 1px solid rgb(17, 184, 226);
  border-radius: 4px;
  margin: 10px;
  color: #000000;
  font-size: 15px;
}
#hoverDropdown {
  padding-top: 15px;
  padding-bottom: 50px;
  text-align: center;
}
#dropAnchor {
  text-decoration: underline;
  vertical-align: top;
}
#dropdownContent {
  display: none;
  position: relative;
  text-align: center;
  word-spacing: 20px;
  border-color: black;
  border-radius: 4px;
  width: 70%;
  height: 35px;
}
#dropdownContent a:hover {
  color: #ddd;
background: whitesmoke;
}
#hoverDropdown:hover #dropdownContent{
display: grid;
margin-left: auto;
margin-right: auto;
grid-template-columns: repeat(5, 1fr);
background-color: rgb(226, 162, 253);
border: 2px solid gold;
height: 4em;
}
#hoverDropdown:hover #dropAnchor {
  color: gray;
}
#secrets img, p{
  height: 2em;
  margin-top: 1em;
}

#dropdown {
border: 1px solid #c0c0c0;
border-radius: 2px;
height: 30px;
width: 130px;
}
#name, #number, #email {
  height: 30px;
width: 170px;
}
.row {
margin-top: 5px;
margin-bottom: 5px;
}